@media (max-width:1280px) {
    h1 {
        font-size: 60px;
    }
    h3 {
        font-size: 30px;
    }
    .title h2 {
        font-size: 50px;
    }
    .about-text {
        margin: 40px;
    }
}

@media (max-width:1071px) {
    /* .container {
        width: 850px;
    }
    .border {
        width: 850px;
    } */
    .card {
        width: 712px;
        height: 337px;
    }
}

@media screen and (max-width: 991px) {
    nav :nth-child(2) {
        display: none;
    }
}